.personalBlogPostsBtn,
.personalBlogPostsBtn:focus {
  border: none;
  background-color: var(--main-text-color-profile);
  color: var(--blog-background-profile);
}

/* write blog post button style on click */
.personalBlogPostsBtn:hover,
.personalBlogPostsBtn.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--main-title-profile);
  color: var(--main-background-color-profile);
  border: none;
}
