:root {
  --selected-option-dark-bg-color: #88c8cf;
  --main-selected-option-text-color: #00374d;
  --orange-link: #f2c94c;
}

.backgroundDark {
  background-color: var(--selected-option-dark-bg-color);
}

.selectedOption:hover {
  background-color: var(--orange-link);
}

.selectedOptionTitle {
  margin: 0;
  padding: 0.5rem;
  margin-left: 1rem;
}

.selectedOptionDelete {
  padding-right: 1rem;
  font-weight: bold;
  cursor: pointer;
}
